<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>About</title>
  <link rel="stylesheet" href="/public/style.css" />
</head>
<body>
     <!-- Nav bar -->
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/contact">Contact</a>
  </nav>

  <h1>About This Website</h1>
  <p>This simple web application was built using Node.js without any frameworks.</p>

  <footer>
    <p>&copy; 2025 My Node.js Website. All rights reserved.</p>
  </footer>
  
</body>

</html>
